@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

article img,object {
  max-width: 640px;
  display: block;
  margin: 0 auto;
}

article div > blockquote {
  margin: 2em;
  text-align: justify;
}

article div > p {
  line-height:1.5em;
  text-indent: 1em;
  margin-bottom: 1.5em;
  text-align: justify;
}

article.h-entry {
  clear: both;
}

article .footnote-reference {
  font-size: 1em;
}

article .thumbnail-summary {
  width: 230px;
  margin: 0.5em auto;
  padding: 0;
  float: left;
}

article .thumbnail-summary img {
  max-width: 200px;
}

.wide {
  width:100%;
  height:300px;
  background-image:url('/assets/header.jpg');
  background-position: center center;
  background-size:cover;
}
